# Oracle private key (WAJIB — untuk sign signature)
AI_ORACLE_PRIVATE_KEY=0x...

# Oracle public address
AI_ORACLE_ADDRESS=0x3847186F8ff9c6938CeD35ff8693e67675857303

# Contract
NEXT_PUBLIC_CONTRACT_ADDRESS=0x1146e20874b90F6c37f938dee7b8AF0b8522D218

# RPC (public ok for read-only)
NEXT_PUBLIC_RPC_URL=https://rpc.testnet.arc.network
